.first, .settings, .editing {
    height: 95px;
    border: 1px black solid;
}
.first, .settings {
    background-color: darkgray;
}
.first {

}
.first p {
    padding-top: 50%;
}
.settings { 
    
} 
.settings img{
    max-width:100%;
    margin-top:15px;
}
.editing {
    background-color: #ccc;
}
.buttons {

}
.buttons div{
    width:95px;
    padding-left: 15px;
    padding-right:15px;
}
.position-relative{
    position:relative;
}
.menu {
    position:absolute;
    z-index:10;
    height:600px;
    width:400px;
    background-color: aliceblue;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.hidden {
    display:none;
}