#editor-body{
    background-color: #6c757d;
}

.first, .settings, .editing {
    height: 95px;
    border: 1px black solid;
}
.first, .settings {
    background-color: darkgray;
}


.first p {
    padding-top: 50%;
}

.col, .first{
    overflow:auto;
}

.settings { 
    
} 
.settings img{
    max-width:100%;
    margin-top:15px;
}
.editing {
    border: 1px solid #000;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    min-height: 95px;
    background-color: #ccc;
}


.editing img {
    cursor: move;
    object-fit: cover;
    margin-left: 0;
    flex-shrink: 0;
    width: 93px;
    height: 93px;
}

.image-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content:baseline;
    background-color: #343A40;
    padding: 10px;
    z-index: 1000;
    overflow: auto;
}

.draggable-image {
    cursor: move;
    object-fit: cover;
    width: 93px;
    height: 93px;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
}

.buttons {

}
.buttons div{
    width:95px;
    padding-left: 15px;
    padding-right:15px;
}
.position-relative{
    position:relative;
}
.menu {
    position:absolute;
    z-index:10;
    height:600px;
    width:400px;
    background-color: aliceblue;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.hidden {
    display:none;
}




