/* --------------------------

     Navigation Bar CSS

----------------------------*/

/* Logo Icon */

#logo-icon{
    width:30px;
    padding-right:8px;
    padding-bottom: 5px;
}

/* Search Button Styling */

.btn-outline-success{
    color:#fff;border-color:#fff;
}

#login{
    position: relative;
    top:-4px;
    font-size: 15pt;
}